.news-section {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.news-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.news-cards {
    display: flex;
    gap: 16px;
    overflow-x: auto;
}

.news-card {
    background-color: #f4f4f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.news-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #555;
}

.news-date {
    color: #888;
}

.news-views {
    color: #141111;
}

.read-more {
    background: none;
    text-decoration: none;

    border: none;
    font-size: 16px;

    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: #141111;
}

.read-more:hover {
    text-decoration: none;
    cursor: pointer;
}

.read-once {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}